# App
APP_PORT = 5500
FRONTEND_URL = ''

# Stripe
STRIPE_SECRET_KEY = ''
STRIPE_WEBHOOK_SECRET = ''

# Cloudinary
CLOUDINARY_CLOUD_NAME = ''
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

# Mail
GMAIL_USER = ''
GMAIL_PASSWORD = ''

# JWT
JWT_SECRET_TOKEN = ''
JWT_REFRESH_TOKEN = ''

# Google Auth
GOOGLE_CLIENT_ID = ''
GOOGLE_SECRET = ''
GOOGLE_CALLBACK = ''

# Turso
TURSO_DB_URL = ''
TURSO_DB_TOKEN = ''
